@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #4e7a40;
    --cor-secundaria: #F3FFB9;
    --cor-terciaria: #493317;
    --cor-hover: #097191;

    --font-primaria: 'Krona One', sans-serif;
    --font-secundaria:  'Montserrat', sans-serif;   
}

*{
    margin: 0;
    padding: 0;
}

body{
    /* height: 100vh; */ 
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho{
    padding: 4% 0 0 15%;
}

.cabecalho__menu{
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link{
    font-family: var(--font-secundaria);
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.apresentacao {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 7% 7%;
    gap: 82px;
}

.apresentacao__conteudo {
    width: 580px;
    display: flex;
    flex-direction: column;
    gap: 45px;
    padding: 0 20px;
}

.apresentacao__conteudo__titulo {
    font-size: 1.8rem;
    font-family: var(--font-primaria);    
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto {
    font-size: 1.4rem;
    font-family: var(--font-secundaria);
    text-align: justify;
}


.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo{
    font-family: var(--font-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__links__navegacao {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 17px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--font-secundaria);
}

.apresentacao__links__navegacao:hover {
    background-color: var(--cor-hover);
}


.apresentacao__imagem {
    width: 100%;
    border-radius: 5%;

}

.apresentacao__imagem__borda {
    width: 35%;
    border-radius: 7%;
    border: 3px solid  var(--cor-terciaria);
    transform: translate(10%, -10%);
        
}

.apresentacao__imagem {
    transform: translate(-10%, 10%);
}

.rodape{
    color: var(--cor-secundaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    padding: 20px;
    font-family: var(--font-secundaria);
    font-weight: 400;
    font-size: 1.5rem;
    
}

@media (max-width: 1200px) {
    
    .cabecalho {
        padding: 60px;
    }
    
    .cabecalho__menu {
        justify-content: center;
    }

    .apresentacao {
            flex-direction: column-reverse;
        }

    .apresentacao__conteudo {
        width: auto;
    }    
    }